{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Quelle promotion voulez-vous voir ?</h1>
    <a href="{{ path('preview', {'promotion': 'B1'}) }}">B1</a>
    <a href="{{ path('preview', {'promotion': 'B2'}) }}">B2</a>
    <a href="{{ path('preview', {'promotion': 'B3'}) }}">B3</a>
    <a href="{{ path('preview', {'promotion': 'M1'}) }}">M1</a>
    <a href="{{ path('preview', {'promotion': 'M2'}) }}">M2</a>
{% endblock %}
